#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    border-radius: 15px;
    width: 500px;
    
}

#keys{
display: grid;
gap: 10px;
padding: 25px;


}

button{
    width: 100px;
    height: 100px;
    background-color: gray;
    color: white;
   
}

#display{
    width: 400px;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: white;
  
}
